header {
  text-align: center;
  font-size: 6vw;
  color: cornflowerblue;
  /* outline-color: black;
  outline-width: 3vw;
  outline-offset: 2vw; */
  font-style: bold;
}

/* TODO:  make shit look better! */